.chip-image-row {
  justify-content: space-between;
  margin: 20px;
  border-style: none;
}

.chip-image-button {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-style: hidden;
  display: inline-block;
}

.chip-image-button img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

div{
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

*:focus {
  outline: 0;
  outline: none;
  }

.play-area{
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.dealer-section, .player-section {
  margin-bottom: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.card {
  margin-right: 10px;
  display: inline-block !important;
  max-width: 12% !important;
}



.btn {
  margin-right: 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

