<h1>Roulette</h1>

<div style="position: relative; display: inline-block; align-items: center;">
  <a href="#" (click)="spinRoulette($event)">
    <img #rouletteImage (click)="onClickWheel($event)" class="roulette-img" width="400" height="400" src="assets/Imgaes/imageedit_4_4588350095copy.png">
  </a>
  <div class="arrow"></div>
</div>

<div *ngIf="displayDiv">Click on the wheel to reset it and play again</div>
<div *ngIf="!isSpinning">Last winning number: {{wheelNumbers[this.winningNumberIndex].value}} ({{wheelNumberColor(this.winningNumberIndex) }})</div>
<div *ngIf="!isSpinning">Your bet {{totalPlayerBet}} credits</div>

<div *ngIf="insufficentFunds" class="error-message">You have insufficient funds to place this bet, please reduce your bet or spin the wheel!</div>

<div class="chip-image-row">
  <div class="chip-image-button" (click)="setPlayerBet(5)">
    <img src="assets/Imgaes/Chips/5 credits chip.png" alt="5" />
  </div>
  <div class="chip-image-button" (click)="setPlayerBet(10)">
    <img src="assets/Imgaes/Chips/10 credits chip.png" alt="10" />
  </div>
  <div class="chip-image-button" (click)="setPlayerBet(20)">
    <img src="assets/Imgaes/Chips/20 credits chip.png" alt="20" />
  </div>
  <div class="chip-image-button" (click)="setPlayerBet(50)">
    <img src="assets/Imgaes/Chips/50 credits chip.png" alt="50" />
  </div>
  <div class="chip-image-button" (click)="setPlayerBet(100)">
    <img src="assets/Imgaes/Chips/100 credits chip.png" alt="100" />
  </div>
</div>

<div *ngIf="!isSpinning" class="utility-buttons">
  <button class="utility-button" (click)="replayLastBet()" style="margin-bottom: 5px ;">
    Replay your last bet.
  </button>
  <button class="utility-button" (click)="clearAllBets()">
    Clear all bets.
  </button>
</div>

<div class="red-black-buttons grid-container">
  <button class="red-button grid-item"
          (mouseover)="onHover($event)"
          (mouseleave)="onLeave($event)"
          (click)="displayDiv ? null : onClickColour($event, 'red', 0)"
          [ngClass]="{ unclickable: isSpinning}"
          [ngStyle]="{'background-color' : getBackgroundColorColoursButton('red')}">Red <br> {{wheelColours[0].betOnColour}} </button>

  <button class="black-button grid-item"
          (mouseover)="onHover($event)"
          (mouseleave)="onLeave($event)"
          (click)="isSpinning ? null : onClickColour($event,'black', 1)"
          [ngStyle]="{'background-color' : getBackgroundColorColoursButton('black')}"
          [ngClass]="{ unclickable: isSpinning }"
          >Black <br> {{wheelColours[1].betOnColour}}</button>
</div>


<div class="grid-container">
  <button
    (mouseover)="onHover($event)"
    (mouseleave)="onLeave($event)"
    *ngFor="let number of numsForDisplay; let i = index"
    (click)="isSpinning ? null : onClickNumber($event, i)"
    [ngStyle]="{ 'background-color': getBackgroundColorNumber(i)}"
    [ngClass]="{ unclickable: isSpinning, firstRowAlone: i === 0 }"
    class="grid-item"
  >
    {{ number }} <br/> {{wheelNumbers[this.findBetAmmountFromIndex(number)].betOnNumber}}
  </button>
</div>


