<h1>Roulette</h1>

<div style="position: relative; display: inline-block; align-items: center;">
  <a href="#" (click)="spinRoulette($event)">
    <img #rouletteImage (click)="onClickWheel($event)" class="roulette-img" width="400" height="400" src="assets/Imgaes/imageedit_4_4588350095copy.png">
  </a>
  <div class="arrow"></div>
</div>

<div *ngIf="displayDiv">Click on the wheel to reset it and play again</div>
<div *ngIf="!isSpinning">Last winning number: {{wheelNumbers[this.winningNumberIndex].value}} ({{wheelNumberColor(this.winningNumberIndex) }})</div>
<div *ngIf="!isSpinning">Your bet {{playerBet}} credits</div>

<div *ngIf="!isSpinning" class="utility-buttons">
  <button class="utility-button" (click)="replayLastBet()" style="margin-bottom: 5px ;">
    Replay your last bet.
  </button>
  <button class="utility-button" (click)="clearAllBets()">
    Clear all bets.
  </button>
</div>

<div class="red-black-buttons grid-container">
  <button class="red-button grid-item"
          (mouseover)="onHover($event)"
          (mouseleave)="onLeave($event)"
          (click)="displayDiv ? null : onClickColour($event, 'red')"
          [ngClass]="{ unclickable: isSpinning}"
          [ngStyle]="{'background-color' : getBackgroundColorColoursButton('red')}">Red</button>

  <button class="black-button grid-item"
          (mouseover)="onHover($event)"
          (mouseleave)="onLeave($event)"
          (click)="isSpinning ? null : onClickColour($event,'black')"
          [ngStyle]="{'background-color' : getBackgroundColorColoursButton('black')}"
          [ngClass]="{ unclickable: isSpinning }"

          >Black</button>
</div>


<div class="grid-container">
  <div
    *ngFor="let number of numsForDisplay; let i = index"
    (mouseover)="onHover($event)"
    (mouseleave)="onLeave($event)"
    (click)="isSpinning ? null : onClickNumber($event, i)"
    [ngStyle]="{ 'background-color': getBackgroundColorNumber(i) }"
    [ngClass]="{ unclickable: isSpinning, firstRowAlone: i === 0 }"
    class="grid-item"
  >
    {{ number }}
  </div>
</div>


