.roulette-img {
  -webkit-transition: -webkit-transform 2s ease-out;
  transition: transform 2s ease-out; /* Standard syntax for transition */
}

.roulette-img.active {
  -webkit-transform: rotate(var(--rotation, 660deg));
  transform: rotate(var(--rotation, 660deg)); /* Standard syntax for rotation */
}

.arrow{
  position: absolute;
  top: -20px; left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid rgb(0, 0, 0);
}

.clicked {
  background-color: purple !important;
}


.gold {
  background-color: gold !important;
}

.purple {
  background-color: purple !important;
}

.green {
  background-color: green !important;
}

.black {
  background-color: black !important;
}

.red {
  background-color: red !important
}


.unclickable {
  pointer-events: none;
  opacity: 0.5;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.grid-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  color: white;
}

.firstRowAlone {
  grid-column: 1 / span 3;
}

.red-black-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.red-button,
.black-button {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: lightgray;
}

.red-button {
  background-color: red;
}

.black-button {
  background-color: black;
}

.utility-buttons {
  display: flex;
  margin-top: 10px;
  padding: auto;
  display: grid;

}

.utility-button{
  background-color: green;
  color: white;
}

.chip-image-row {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border-style: none;
}

.chip-image-button {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-style: hidden;
}

.chip-image-button img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.error-message {
  color: red;
  font-size: 18px;
}
