<h1>Roulette</h1>

<div style="position: relative; display: inline-block; align-items: center;">
  <a href="#" (click)="spinRoulette($event)">
    <img #rouletteImage (click)="onClickWheel($event)" class="roulette-img" width="400" height="400" src="assets/Imgaes/imageedit_4_4588350095copy.png">
  </a>
  <div class="arrow"></div>
</div>

<div *ngIf="displayDiv">Click on the wheel to reset it and play again</div>
<div *ngIf="!isSpinning">Last winning number: {{wheelNumbers[this.winningNumber].value}} ({{wheelNumberColor(this.winningNumber) }})</div>
<div *ngIf="!isSpinning">Your bet {{playerBet}} credits</div>

<div class="red-black-buttons grid-container">
  <button class="red-button grid-item"
          (mouseover)="displayDiv ? null : onHover($event)"
          (mouseleave)="displayDiv ? null : onLeave($event)"
          (click)="displayDiv ? null : onClickRed($event)"
          (click)="displayDiv ? null : onClickColour($event, 'red')"
          [ngClass]="{ unclickable: displayDiv}">Red</button>

  <button class="black-button grid-item"
          (mouseover)="displayDiv ? null : onHover($event)"
          (mouseleave)="displayDiv ? null : onLeave($event)"
          (click)="displayDiv ? null : onClickBlack($event)"
          (click)="displayDiv ? null : onClickColour($event, 'black')"
          [ngClass]="{ unclickable: displayDiv}"
          >Black</button>
</div>


<div class="grid-container">
  <div
    *ngFor="let number of numsForDisplay; let i = index"
    (mouseover)="onHover($event)"
    (mouseleave)="onLeave($event)"
    (click)="displayDiv ? null : onClickNumber($event, i)"
    [ngStyle]="{ 'background-color': getBackgroundColor(number, i) }"
    [ngClass]="{ unclickable: displayDiv, firstRowAlone: i === 0 }"
    class="grid-item"
  >
    {{ number }}
  </div>
</div>
